body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: azure;
}

h1{
    text-shadow: 3px 1px 8px blueviolet;
}

#score{
    height: 70px;
    width: 300px;
    border-radius: 15px;
    display: inline-block;
    background-color: blueviolet;
    margin-top: 1%;
}

.gameButtons{
    margin-top: 2%;
}

button{
    height: 100px;
    width: 100px;
    margin: 2%;
    border-radius: 15px;
    background-color: azure;
    font-size: 35px;
}

.reset{
    background-color:blueviolet;
    margin-top: 3%;
}